<!DOCTYPE html>
<html lang="en">
    <!------------------------------------------ head ---------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-productCart.css">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Teko:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>RODAWISE - TechShop</title>
</head>
<body>
    <!------------------------------------------ header ---------------------------------------------------->
    <!-- LOGO - REGISTER/LOGIN - NAV BAR - SEARCH BAR -->
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="images/logo.jpg" alt="Logo Rodawise"></a>
            </div>
            <div class="reg-login">
                <ul>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/login">LOGIN</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i> </div>
            <ul>
                <li class="home"><a href="/">HOME</a></li>
                <li class="products"><a href="#">PRODUCTOS</a></li>
                <li class="who-we-are"><a href="/whoWeAre">QUIENES SOMOS</a></li>
                <li class="contact"><a href="#">CONTACTO</a></li>
            <a href="/productCart"><img src="images/carrito.png" alt="Carrito" class="product-cart"></a>

            </ul>
        </nav>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    </header>
    <!------------------------------------------ main ---------------------------------------------------->
    <h2 class="cart-title">TU CARRITO</h2>
    <main class="product-cart">

        <!-- CONTENIDO ESPECIFICO DE LA PAGINA -->
        <section class="container">
          <div class="titles">
            <div class="titles-left">
              <p>IMAGEN</p>
              <p>NOMBRE</p>
              <p>PRECIO</p>
              <p>CANTIDAD</p>
            </div>
            <div class="titles-rigth">
              <p>ELIMINAR</p>
            </div>
          </div>
        
            
          <!-- <article>
            <div class="buttons">
                <span class="delete-btn"><i class="bi bi-trash"></i></span>
                <span class="like-btn"><i class="bi bi-star"></i></span>
            </article> -->
          <article class="product-1">
            <img class="img" src="/images/auriculares-real.jpg" alt="" />
            <p class="name"> AURICULARES JBL QUANTUM 400 </p>
            <div class="price"> $10000</div>

            <div class="quantity">
            <button class="plus-btn" type="button" name="button">
            <i class="fas fa-plus"></i>
            </button>
            <input class="q-input" type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
            <i class="fas fa-minus"></i>
            </button>
            </div>

            <div class="eliminar">
            <button class ="add" type="submit" name="button"> Eliminar
            </button>
            </div>
          </article>
          <!-- <div class="item">
            <article>
            <div class="buttons">
                <span class="delete-btn"><i class="bi bi-trash"></i></span>
                <span class="like-btn"><i class="bi bi-star"></i></span>
              </div> -->
        <article class="product-2">
            <img class="img" src="/images/silla-gamer.jpg" alt="" />
            <p class="name"> SILLA GAMER NEGRA MAKKAX </p>
            <div class="price"> $39999</div>

            <div class="quantity">
            <button class="plus-btn" type="button" name="button">
            <i class="fas fa-plus"></i>
            </button>
            <input class="q-input" type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
            <i class="fas fa-minus"></i>
            </button>
            </div>

            <div class="eliminar">
            <button class ="add" type="submit" name="button"> Eliminar
            </button>
            </div>
          </article>

<!--         

          <div class="item">
            <article>
            <div class="buttons">
                <span class="delete-btn"><i class="bi bi-trash"></i></span>
                <span class="like-btn"><i class="bi bi-star"></i></span>
              </div>

        <div class="image">
                <img src="/images/celular-real.jpg" alt="" />
              </div>
        <div class="nombre">
            <span>CELULAR</span>
            <span>Apple IPhone SE 2nd Generacion</span>
            <span>64gb</span>
        </div>

        <div class="price"> $25.000.00</div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
              <i class="fas fa-plus"></i>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
              <i class="fas fa-minus"></i>
            </button>
            <div class="eliminar">
            <button class ="add" type="submit" name="button"> Eliminar
            </button>
            </div>
             <article>
              </div>

          <div class="item">
            <article>
            <div class="buttons">
                <span class="delete-btn"><i class="bi bi-trash"></i></span>
                <span class="like-btn"><i class="bi bi-star"></i></span>
              </div>

        <div class="image">
                <img src="/images/camara-real.jpg" alt="" />
              </div>
        <div class="nombre">
            <span>CÁMARA</span>
            <span> Digital POWERSHOT</span>
            <span>NEGRA </span>
        </div>

        <div class="price"> $80.000.00</div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
              <i class="fas fa-plus"></i>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
              <i class="fas fa-minus"></i>
            </button>
             <div class="eliminar">
            <button class ="add" type="submit" name="button"> Eliminar
            </button>
            </div>
          </article>
          </div>
          <button class ="add" type="submit" name="button"> Agregar más productos
          </button>
          <button class ="add" type="submit" name="button"> Pagar
          </button> -->
          
        </section>

           <section class="container2">
             <span>Total en compra</span>
             <br>
             <span>$2485.00</span>
           </section>

        
    </main>
   
    
    <!------------------------------------------ footer ---------------------------------------------------->

    <footer>
        <p class="footer-text"><i class="fa fa-copyright"></i> 2022 TECHSHOP RODAWISE - Todos los derechos reservados</p>
        <div class="favicon">
            <img src="images/favicon.jpg" alt="Logo Mini">
        </div>
    </footer>
</body>
</html>