.home a {
  color: white;
  display: none;
}
.register a {
  color: green !important;
}

/* AGREGAR CODIGO ACA PARA MOVILES  */
.register1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.register-title {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  margin-right: 30vw;
  margin-left: 10px;
  padding-top: 2%;
  padding-left: 2%;
  border-bottom: white 3px solid;
}
.form-register {
  width: 90vw;
  border-radius: 4px;
  color: white;
  border: grey solid 2px;
  margin: 20px;
  align-self: center;
  background-color: black;
  padding: 10px 20px 10px 20px;
}
.controls {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #3598fe;
  font-size: 0.9rem;
  color: #3598fe;
}
.terms-cond,
.terms-cond a {
  color: white;
  font-size: 1rem;
}
.term-cond {
  width: 100%;
  border-top: white solid 2px;
  margin-top: 5px;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register p a {
  color: white;
  font-weight: 600;
}
.form-register .botons {
  width: 100%;
  background: #3598fe;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}
.form-register .botons:hover {
  background-color: yellow;
  color: black;
}
.profilePicture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
}
#profilePictureP {
  text-align: left;
  font-size: 0.8rem;
  width: 100%;
}
.profilePicture img {
  width: 100px;
  margin: 0 5px 0 5px;
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type="radio"] + img {
  cursor: pointer;
}
[type="radio"]:checked + img {
  outline: 4px solid yellow;
}
.inputAvatar {
  width: 95%;
  height: 30px;
  display: flex;
  text-align: center;
  background-color: #3598fe;
  align-items: center;
}
input#files {
  background: #3598fe;
  color: black;
  width: 100%;
  font-size: 0.8rem;
  margin-left: 10px;
}
#validation-error {
  color: red;
  font-size: 0.6rem;
  text-align: left;
  line-height: inherit;
  height: inherit;
  width: 100%;
  margin: 5px 0 5px;
}

@media (min-width: 480px) {
  .home a {
    display: block;
  }
  .register-title {
    font-size: 1.4rem;
    margin-right: 60vw;
  }
  .form-register {
    width: 60vw;
    align-self: flex-start;
  }
  #profilePictureP {
    font-size: 0.9rem;
  }
  #validation-error {
    font-size: 0.8rem;
  }
}
@media (min-width: 770px) {
  .register-title {
    font-size: 1.5rem;
    margin-right: 60vw;
  }
  .form-register {
    width: 50vw;
  }
  #profilePictureP {
    font-size: 1.2rem;
  }
  input#files {
    font-size: 0.9rem;
  }
  #validation-error {
    font-size: 0.9rem;
  }
  .inputAvatar {
    width: 80%;
  }

}
