.home a {
  color: white;
  display: none;
}
.login a {
  color: green !important;
}
/* AGREGAR CODIGO ACA PARA MOVILES  */
* {
  box-sizing: border-box;
}
main h3 {
  color: white;
  text-align: left;
  padding: 5% 5%;
  font-size: 1.3rem;
}
main .marco .usuario label {
  color: white;
  font-size: 0.7rem;
}
main .contraseña label {
  color: white;
  font-size: 0.7rem;
}
.red {
  color: red;
}
main .marco .usuario input {
  width: 85%;
  border-radius: 4px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  padding: 7px;
}
main .marco .contraseña input {
  width: 85%;
  border-radius: 4px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  padding: 7px;
  margin-bottom: 5%;
}
.contenedor_ojo .password-icon {
  color: rgb(68, 65, 65);
  position: absolute;
  z-index: 1;
  padding-top: 7px;
  right: 20%;
  font-size: 20px;
}
.entrar {
  background: #d4d8d8;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 4px;
}
.entrar:hover {
  background-color: #1877f2;
  cursor: pointer;
  color: white;
}

main .recordar label {
  color: white;
  font-size: 0.7rem;
}
.olvidaste {
  color: white;
  font-size: 0.7rem;
  padding-bottom: 5%;
  padding-top: 5%;
}
.marco {
  border: outset 2px white;
  padding-left: 3%;
  margin-left: 5%;
  margin-right: 55%;
  width: 90%;
}
main {
  padding-bottom: 10%;
  justify-content: left;
}

@media (min-width: 480px) {
  .home a {
    display: block;
  }
  /* AGREGAR CODIGO ACA PARA TABLETS */
  main h3 {
    color: white;
    text-align: left;
    padding: 5% 5%;
    font-size: 1.6rem;
  }
  main .marco .usuario label {
    color: white;
    font-size: 1rem;
  }
  main .contraseña label {
    color: white;
    font-size: 1rem;
  }
  main .marco .usuario input {
    width: 85%;
    border-radius: 4px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    padding: 7px;
    max-width: 400px;
  }
  main .marco .contraseña input {
    width: 85%;
    border-radius: 4px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    padding: 7px;
    margin-bottom: 5%;
    max-width: 400px;
  }
  .contenedor_ojo .password-icon {
    color: rgb(68, 65, 65);
    position: relative;
    z-index: 1;
    padding-top: 7px;
    font-size: 20px;
    right: 8%;
    top: 2px;
  }
  .entrar {
    background: #d4d8d8;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  main .recordar label {
    color: white;
    font-size: 1rem;
  }
  .olvidaste {
    color: white;
    font-size: 1rem;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .marco {
    border: outset 2px white;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  main {
    padding-bottom: 10%;
  }
}

@media (min-width: 770px) {
  /* AGREGAR CODIGO ACA PARA PC */
  main h3 {
    color: white;
    text-align: left;
    padding: 3% 5%;
    font-size: 1.8rem;
  }
  main .marco .usuario label {
    color: white;
    font-size: 1rem;
  }
  main .contraseña label {
    color: white;
    font-size: 1rem;
  }
  main .marco .usuario input {
    width: 85%;
    border-radius: 4px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    padding: 7px;
    max-width: 400px;
  }
  main .marco .contraseña input {
    width: 85%;
    border-radius: 4px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    padding: 7px;
    margin-bottom: 1%;
    max-width: 400px;
  }
  .contenedor_ojo .password-icon {
    color: rgb(68, 65, 65);
    position: relative;
    z-index: 1;
    padding-top: 7px;
    font-size: 20px;
    right: 5%;
    top: 2px;
  }
  .entrar {
    background: #d4d8d8;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  main .recordar label {
    color: white;
    font-size: 1rem;
  }
  .olvidaste {
    color: white;
    font-size: 1rem;
    padding-bottom: 3%;
    padding-top: 3%;
  }
  .marco {
    border: outset 2px white;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
  }

  main {
    padding-bottom: 4%;
  }
}
