.home a {
    color: white;
    display: none;
}

.imagenLogo1{
    width: 100%;
}

.imagenLogo{
    width: 90vw;
}


/* AGREGAR CODIGO ACA PARA MOVILES  */
  @media (min-width: 480px) {
    .home a {
      display: block;
  }
    
  }
  @media (min-width: 770px) {
      
  }