*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home a {
    color: white;
    display: none;
}
.cart-title {
  color: white;
  text-align: left;
  font-size: 1.6rem;
  margin-right: 40vw;
  margin-left: 10px;
  padding-top: 2%;
  padding-left: 2%;
  border-bottom: white 3px solid;
  align-self: normal;
}
.product-cart {
    background-color: green;

} 
.containerA {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90vw;
    text-align: center;
    margin: 20px;
}
.titles {
    display: none;
}
.product-1 {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    position: relative;

}
.img {
    width: 22vw;
    margin-bottom: 5px;
}
.name {
    font-size: 0.9rem;
    width: 30vw;
    position: relative;
    left: 3%;;
}
.price {
    font-size: 1rem;
    font-weight: 600;
    width: 30vw;
    position: relative;
    left: 30px;  
}
.quantity {
    font-size: 1rem;
    position: relative;
    left: 10px;
}
.eliminar {
    position: absolute;
    right: 10px;
    bottom: 10px;   
}
.plus-btn i, .minus-btn i {
    font-size: 0.8rem;
}
.add {
    color: #000000;
    background-color: #ff0000;
    font-family: Arial;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 3px;
}
.q-input {
    width: 30px;
}
.product-2 {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border-top: black 2px dotted;
    position: relative;
}
.product-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2 {
    background-color: white;
    align-self: flex-end;
    margin: 10px 5vw;
}
.total {
    background-color: yellow;
    padding: 5px;
    font-size: 1rem;
}
.total-price {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 1rem;
}
.confirm {
    background-color: yellow;
    align-self: flex-end;
    margin-right: 5vw;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.5s;
}
.addproduct {
    padding: 10px;
    color: black;
    background: yellow;
    border-radius: 10px;
    font-size: 1rem;
    align-self: stretch;
    margin: 0px 5vw;
    transition: all 0.5s;
}
.addproduct:hover, .confirm:hover {
    background-color: #3598FE;
    color: white;
}


@media (min-width: 480px) {
    .home a {
        display:block;
    }
    .titles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: yellow;
        font-weight: 700;
        font-size: 1rem;
    }
    .cart-title {
        margin-right: 70vw;
    }
    .img {
        width: 12vw;
    }
    .name {
        font-size: 1rem;
        width: 22vw;
    }
    .price {
        font-size: 1.1rem;
        left: 3%;
        width: 0;
    }
    .quantity {
        font-size: 1.4rem;
        left: 22.5%;
    }
    .eliminar {
        position: relative;
        left: 34%;
        right: 0;
        bottom: 0;
    }
    .addproduct {
        font-size: 1.2rem;
    }
}


@media (min-width: 770px) {
    
    .titles {
        font-size: 1.3rem;
    }
    .img {
        width: 15vw;
    }
    .name {
        font-size: 1.1rem;
        width: 20vw;
        left: 0%;
    }
    .price {
        font-size: 1.3rem;
        left: 2%;
    }
    .quantity {
        font-size: 1.5rem;
        left: 23%;;
    }
    .add {
        font-size: 1.4rem;
    }
    .eliminar {
        left: 35%;
    }
    .addproduct {
        font-size: 1.4rem;
    }
    .confirm {
        font-size: 1.4rem;
    }
    .total {
        font-size: 1.1rem;
    }
    .total-price {
        font-size: 1.4rem;
    }
}
@media (min-width: 1200px) {
    .titles {
        font-size: 1.5rem;
    }
    .img {
        width: 15vw;
    }
    .name {
        font-size: 1.5rem;
    }
    .price {
        font-size: 1.6rem;
        left: 4%;
    }
    .quantity {
        font-size: 1.8rem;
        left: 25%;;
    }
    .add {
        font-size: 1.6rem;
    }
    .eliminar {
        left: 39%;
    }
    .addproduct {
        font-size: 1.6rem;
    }
    .confirm {
        font-size: 2rem;
    }
    .total {
        font-size: 1.4rem;
    }
    .total-price {
        font-size: 1.6rem;
    }

}
@media (min-width: 1700px) {
    .titles {
        font-size: 1.6rem;
    }
    .img {
        width: 15vw;
    }
    .name {
        font-size: 1.8rem;
    }
    .price {
        font-size: 1.8rem;
        left: 6%;
    }
    .quantity {
        font-size: 1.9rem;
        left: 26%;
    }
    .add {
        font-size: 1.8rem;
    }
    .eliminar {
        left: 41%;
    }
    .addproduct {
        font-size: 1.9rem;
    }
    .confirm {
        font-size: 2.3rem;
    }
    .total {
        font-size: 1.8rem;
    }
    .total-price {
        font-size: 1.9rem;
    }

}
