*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.home a {
    color: white;
    display: none;
}
.cart-title {
  color: white;
  text-align: left;
  font-size: 1.6rem;
  margin-right: 70vw;
  margin-left: 10px;
  padding-top: 2%;
  padding-left: 2%;
  border-bottom: white 3px solid;
  align-self: normal;
}
.product-cart {
    background-color: green;

} 
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    margin: 20px;
}
.container2{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 20%;
        text-align: center;
        margin-left: 50%;
        margin-bottom: 10%;
}
.article {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
}
.nombre {
    font-size: 16px;
    font-weight: normal;
    
}
.img {
    width: 100px;  

}
.price{
    font-size: 18px;
    flex-grow: 3;
}
.titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    font-weight: 700;
    
}
.product-1 {
    display: flex;
    width: 100%;
    align-items: center;
}
.img {
    width: 18%;
}
.name {
    width: 15%;
    margin-left: 30px;
    font-size: 1.3rem;
}
.price {
    width: 10%;
}
.quantity {
    width: 15%;
    margin-right: 80px;
}
.eliminar {
    width: 15%;
    margin-right: 40px;
}
.add {
    width: 20%;
    color: #000000;
    background-color: #ff0000;
    font-family: Arial;
    font-size: 20px;
    box-sizing: border-box;
    padding: 3px;
    
}
.q-input {
    width: 30px;
}
.product-2 {
    display: flex;
    width: 100%;
    align-items: center;
    border-top: black 2px dotted;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2 {
    background-color: white;
    width: 300px;
    margin-bottom: 20px;
    align-self: flex-end;
    margin-right: 20px;
}
.total {
    background-color: yellow;
    padding: 5px;
}
.total-price {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
}
.confirm {
    background-color: #3598FE;
    align-self: flex-end;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 20px;
}
.agregarProducto {
    margin: 10%;
    width: 30%;
    font-family: Arial;
    color: black;
    font-size: 20px;
    background: yellow;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30%;
}








@media (min-width: 480px) {
    .home a {
        display:block;
    }
    
}


@media (min-width: 770px) {
   
}