* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.home a {
  color: white;
  display: none;
}
.homeDD {
  display: block;
}
/* AGREGAR CODIGO ACA PARA MOVILES  */
.userProfile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.titulo1 {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  margin-right: 50vw;
  margin-left: 10px;
  padding-top: 2%;
  padding-left: 2%;
  border-bottom: white 3px solid;
}

div img {
  width: 40%;
  margin: 10px;
}

.datosUser {
  width: 70%;
  color: white;
  border: grey solid 2px;
  margin: 10px;
  background-color: black;
  font-size: 1rem;
}

.boton {
  width: 30%;
  border-radius: 4px;
  background: #3598fe;
  border: grey solid 2px;
  margin: 10px;
  align-self: left;
  padding: 5px 5px 5px 5px;
  color: white;
  font-size: 1rem;
  font-weight: 550;
}
.userProfile .boton:hover {
  background-color: yellow;
  color: black;
}

@media (min-width: 480px) {
  .home a {
    display: block;
  }

  .titulo1 {
    font-size: 1.7rem;
    margin-right: 50vw;
  }

  div img {
    width: 30%;
  }
  .datosUser {
    width: 60%;
    font-size: 1.3rem;
  }

  .boton {
    font-size: 1rem;
    font-weight: 700;
  }
}

@media (min-width: 770px) {
  .titulo1 {
    font-size: 1.7rem;
    margin-right: 50vw;
  }

  .datosUser {
    width: 40%;
    font-size: 1.5rem;
  }
  div img {
    width: 15%;
  }
}
