.home a {
    color: white;
    display: none;
}
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-detail-title {
    font-size: 1.3rem;
    color: white;
    margin-top: 10px;
    text-align: center;
    margin-right: 30vw;
    margin-left: 10px;
    padding-top: 2%;
    padding-left: 2%;
    border-bottom: white 3px solid;
}
.product-title-img {
    background-color: white;
    border: solid 1px gray; 
    width: 90vw;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
.product-details a {
    text-decoration: none;
}
.buy-now {
    width: 40%;
    color: white;
    font-size: 1rem;
    background-color: #3598FE;
    text-align: center;
    border: solid 1px gray;
    border-radius: 10px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding-top: 8px;
    transition: all 0.5s;
}
.add-to-cart {
    width: 40%;
    color: white;
    font-size: 1rem;
    background-color: #3598FE;
    text-align: center;
    border: solid 1px gray;
    border-radius: 10px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    transition: all 0.5s;
}
.add-to-cart:hover, .buy-now:hover, .add-to-cart-2:hover, .buy-now-2:hover {
    background-color: green;
}

.add-to-cart-2, .buy-now-2 {
    display: none;
}
.off {
    color: green;
    font-size: 1rem;
    text-align: center;
    border: green 2px solid;
    border-radius: 50%;
    width: 55px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 40px;
    padding: 3px;

}
.product-details img { 
    width: 90%; 
}
.product-d-title {
    color: #3598FE;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px gray; ;
}
.product-d-description {
    width: 90vw;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-d-description p {
    font-size: 0.9rem;
    color: black;
    margin: 5px 10px;
}
.product-d-description ul {
    border-bottom: solid 1px #3598FE;
    margin: 5px 10px;
}
.product-d-description ul li {
    list-style-type: none;
    font-size: 1rem;
    color: #3598FE;
}






@media (min-width: 480px) {
    .home a {
        display:block;
    }
    .product-details {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .product-detail-title {
        margin-right: 50vw;
        font-size: 1.4rem;
    }
    .product-title-img {
        width: 45vw;
        margin: 8px;
    }
    .product-d-description {
        position: relative;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 300px;
        width: 50vw;
        margin: 8px;
    }
    .product-d-description p {
        font-size: 0.95rem;
    }
    .product-d-description ul {
        border-top: solid 1px #3598FE;
        border-bottom: none;
    }
    .product-d-description ul li {
        font-size: 1.1rem;
        margin-top: 3px;
    }
    .add-to-cart {
        display: none;
    }
    .buy-now {
        display: none;
    }
    .add-to-cart-2 {
        display: block;
        width: 40%;
        color: white !important;
        font-size: 1rem;
        background-color: #3598FE;
        text-align: center;
        border: solid 1px gray;
        border-radius: 10px;
        height: 40px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        transition: all 0.5s;
    }
    .buy-now-2 {
        display: block;
        width: 40%;
        color: white !important;
        font-size: 1rem;
        background-color: #3598FE;
        text-align: center;
        border: solid 1px gray;
        border-radius: 10px;
        height: 40px;
        position: absolute;
        bottom: 5px;
        left: 10px;
        padding-top: 8px;
        transition: all 0.5s;
    }
}

@media (min-width: 770px) {
    .product-detail-title {
        margin-right: 50vw;
        font-size: 1.6rem;
    }
    .product-title-img {
        width: 35vw;
        margin: 12px;
    }
    .product-d-description {
        position: relative;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 350px;
        width: 60vw;
        margin: 12px;
    }
    .product-d-description p {
        font-size: 1.2rem;
    }
    .product-d-description ul li {
        font-size: 1.3rem;
        margin-top: 5px;
    }
    .add-to-cart-2 {
        padding-top: 8px;
    }
    .off {
        font-size: 1.2rem;
        width: 65px;
        height: 60px;
        padding: 4px;
    }
}