*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.home a {
  color: white;
  display: none;
}
.homeDD {
  display: block;
}
.login a {
  color: green !important;
}
/* AGREGAR CODIGO ACA PARA MOVILES  */
.login1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
} 
main h3 {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  margin-right: 30vw;
  margin-left: 10px;
  padding-top: 2%;
  padding-left: 2%;
  border-bottom: white 3px solid;
}
main .marco .usuario label {
  color: white;
  font-size: 0.7rem;
}
main .contraseña label {
  color: white;
  font-size: 0.7rem;
}
.red {
  color: red;
}
main .marco .usuario input {
  width: 85%;
  border-radius: 4px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  padding: 7px;
}
main .marco .contraseña input {
  width: 85%;
  border-radius: 4px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  padding: 7px;
  margin-bottom: 10px;
}
.password-icon {
  color: rgb(68, 65, 65);
  position: relative;
  z-index: 1;
  padding-top: 7px;
  right: 48px;
  top: 4px;;
}
.entrar {
  background: #3598FE;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 160px;
  transition: all 0.5s;
}
.entrar:hover {
  background-color: yellow;
  cursor: pointer;
  color: black;
}
main .recordar label {
  color: white;
  font-size: 0.7rem;
}
.olvidaste a {
  color: white;
  font-size: 0.9rem;
}
.marco {
  width: 90vw;
  border: grey 2px solid;
  margin: 20px;
  align-self: center;
  padding: 10px;
  background-color: black;
}
.error {
  border: 2px red solid;
}
.errorsStyle {
  background-color: rgba(255, 0, 0, 0.5);
  list-style-type: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  margin: 5px;
  color: white;
}

@media (min-width: 480px) {
  .home a {
    display: block;
  }
  /* AGREGAR CODIGO ACA PARA TABLETS */
  main h3 {
    font-size: 1.6rem;
    width: 60vw;
  }
  .marco {
    width: 70vw;
    align-self: flex-start;
  }
  main .marco .usuario label, main .contraseña label, main .recordar label, .olvidaste {
    font-size: 1rem;
  }
}
@media (min-width: 770px) {
  /* AGREGAR CODIGO ACA PARA PC */
  main h3 {
    font-size: 1.8rem;
    width: 50vw;
  }
  .marco {
    width: 60vw;
  }
  main .marco .usuario label, main .contraseña label, main .recordar label, .olvidaste {
    font-size: 1.1rem;
  }
  .errorsStyle {
    font-size: 1rem;
  }
}
