<!DOCTYPE html>
<html lang="en">
    <!------------------------------------------ head ---------------------------------------------------->
    <%- include('./partials/head') %>
<body>
    <!------------------------------------------ header ---------------------------------------------------->
    <%- include('./partials/header') %>
    <!------------------------------------------ main ---------------------------------------------------->
    
    <main>

        <!-- CONTENIDO ESPECIFICO DE LA PAGINA -->

    </main>
   
    <!------------------------------------------ footer ---------------------------------------------------->
    <%- include('./partials/footer') %>
</body>
</html>