<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('./partials/head') %>

    <body>
        <!------------------------------------------ header -------------------------------------------------->
        <%- include('./partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->

            <main>
                <h3>CONTACTO</h3>
                <div class="text">
                    <p class="title1"> 
                        Estamos contentos de recibir sus consultas y comentarios.
                    </p>
                    <br>
                    <p class="title2"> 
                        Si desea ponerse en contacto con nosotros, complete el siguiente formulario y le responderemos lo antes posible.
                    </p>

                    <br>

                    <section class="form-contacto">
                        <form action="/contact" method="POST">
                        <p id="datosNombre">NOMBRE <span class="red">*</span></p>
                        
                        <input class="controlNombre" type="text" name="name" id="nombres" placeholder="Ingrese su Nombre" value="<%= locals.old && old.name %>">

                        <p id="datosNombre">CORREO ELECTRONICO <span class="red">*</span></p>
                        <input class="controlCorreo" type="email" name="email" id="email" placeholder="Ingrese su Correo Electronico">
                        
                        <p id="datosNombre">TELEFONO <span class="red">*</span></p>
                        <input class="controlTelefono" type="number" name="phoneNumber" id="numero" placeholder="Ingrese su Telefono">
                        
                        <select class="infoPais" name="category" required>PAÍS
                            <option hidden value="" >País</option hidden>
                            <option value="argentina">Argentina</option>
                            <option value="bolivia">Bolivia</option>
                            <option value="chile">Chile</option>
                            <option value="colombia">Colombia</option>
                            <option value="ecuador">Ecuador</option>
                            <option value="peru">Peru</option>
                            <option value="paraguay">Paraguay</option>
                            <option value="uruguay">Uruguay</option>
                            <option value="venezuela">Venezuela</option>
                        </select>

                        <p id="datosNombre">MENSAJE <span class="red">*</span></p>
                        <div class="infoMensaje">
                            <textarea  name="message" class="textarea" cols="110" rows="80" required></textarea>
                        </div>
                    
                        <p class="campo"><span class="red">*</span>Este campo es obligatorio</p>
                    
                        <input class="botons" type="submit" value="ENVIAR">
                    </form>
                    </section>
                </div>
                <br>
                    </main>
            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('./partials/footer') %>
    </body>

</html>