<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('./partials/head') %>
<script src="/js/contact.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <body>
        <!------------------------------------------ header -------------------------------------------------->
        <%- include('./partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->

            <main>
                <h3>CONTACTO</h3>
                <div class="text">
                    <p class="title1"> 
                        Estamos contentos de recibir sus consultas y comentarios.
                    </p>
                    <br>
                    <p class="title2"> 
                        Si desea ponerse en contacto con nosotros, complete el siguiente formulario y le responderemos lo antes posible.
                    </p>

                    <br>

                    <section class="form-contacto">
                        <form class="formContact" action="/contact" method="POST">
                        <p id="datosNombre">NOMBRE <span class="red">*</span></p>
                        
                        <input class="controlNombre" type="text" name="name" id="name" placeholder="Ingrese su Nombre" value="<%= locals.old && old.name %>">

                        <p id="datosNombre">CORREO ELECTRONICO <span class="red">*</span></p>
                        <input class="controlCorreo" type="email" name="email" id="email" placeholder="Ingrese su Correo Electronico">
                        
                        <p id="datosNombre">TELÉFONO <span class="red">*</span></p>
                        <input class="controlTelefono" type="number" name="phoneNumber" id="phoneNumber" placeholder="Ingrese su Telefono">
                        
                        <select class="infoPais" name="pais">PAÍS
                            <option hidden value="" >País</option hidden>
                            <option value="Argentina">Argentina</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Chile">Chile</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Peru">Peru</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                        </select>
                        <span class="red">*</span></p>

                        <p id="datosNombre">MENSAJE <span class="red">*</span></p>
                        <div class="infoMensaje">
                            <textarea  name="message" id="message" class="textarea" cols="110" rows="80" ></textarea>
                        </div>
                    
                        <!-- <p class="campo"><span class="red">*</span>Este campo es obligatorio</p> -->
                        <ul class="errors"></ul>

                        <input class="botons" type="submit" value="ENVIAR">
                    </form>
                    </section>
                </div>
                <br>
                    </main>
            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('./partials/footer') %>
    </body>

</html>