<!DOCTYPE html>
<html lang="en">
    <!------------------------------------------ head ---------------------------------------------------->
    <%- include('./partials/head') %>
<body>
    <!------------------------------------------ header ---------------------------------------------------->
    <%- include('./partials/header') %>
    <!------------------------------------------ main ---------------------------------------------------->
    
    <main>
        <h2 class="product-detail-title">DETALLES DEL PRODUCTO</h2>

        <article class="product-details">
            <section class="product-title-img">
            <h3 class="product-d-title">Auriculares Gamer JBL Quantum 400 PC/PS4/XBOX</h3>
            <img src="/images/auriculares-real.jpg" alt="celular">
            <button class ="buy-now" type="submit" name="123"> Compre Ahora</button>
            <button class ="add-to-cart" type="submit" name="button"> Agregar al Carrito</button>
            <p class="off">35% OFF!</p>
            </section>
            <section class="product-d-description">
                <ul>
                    <li>Modelo: Quantum 400</li>
                    <li>Es inalámbrico: No</li>
                    <li>Con Bluetooth: No</li>
                    <li>Tipo de conector: Jack 3.5 mm</li>
                </ul>
            <p>Auriculares diseñados con precisión junto a un software personalizado y de vanguardia para llevarte al corazón de la acción. 
            Experimenta un sonido hiper preciso e inmersivo que revela cada detalle del mundo que te rodea, para que puedas superar a tus rivales.</p>
            <button class ="buy-now-2" type="submit" name="123"> Compre Ahora</button>
            <button class ="add-to-cart-2" type="submit" name="button"> Agregar al Carrito</button>
            </section>

        </article>
    </main>
    
    
    <!------------------------------------------ footer ---------------------------------------------------->
    <%- include('./partials/footer') %>
</body>
</html>