<!DOCTYPE html>
<html lang="en">
    <!------------------------------------------ head ---------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Teko:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>RODAWISE - TechShop</title>
</head>
<body>
    <!------------------------------------------ header ---------------------------------------------------->
    <%- include('./partials/header') %>
    <!------------------------------------------ main ---------------------------------------------------->
    <main class="register1">
        <h4 class="register-title">Formulario de Registro</h4>
        <form action="/" method="POST">
            <section class="form-register">
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre" required>
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido" required>
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
                <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña" required>
                <input class="controls" type="password" name="correo" id="correo" placeholder="Confirme su Contraseña" required>
                <input type="checkbox" name="interests" value="a" id="terms-cond">
                <label class="terms-cond" for="terms-cond">Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></label>
                <input class="botons" type="submit" value="Registrarse">
                <p><a href="#">¿Ya tengo Cuenta?</a></p>
            </section>
            </form>
        </main>
  
    
    <!------------------------------------------ footer ---------------------------------------------------->
    <%- include('./partials/footer') %>
</body>
</html>