<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('./partials/head') %>

    <body>
        <!------------------------------------------ header -------------------------------------------------->
        <%- include('./partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->

            <main>
                <h3>QUIENES SOMOS</h3>
                <div class="text">
                    <p class="title"> <span class="red">TechShop RODAWISE</span>, dedicados a ofrecer productos y
                        servicios que estén a la vanguardia de las últimas tendencias que el mercado demanda. Reunimos
                        nuestros esfuerzos y trabajamos profesionalmente colaborando en un ambiente multidisciplinario,
                        el cual permite un compromiso del personal y las altas gerencias para<span class="red">:</span>
                    </p>
                    <ul class="list">
                        <li><span class="red">*</span> Asegurar el cumplimiento de requisitos aplicables y normativas
                            que regulan nuestro campo de acción.</li>
                        <li><span class="red">*</span> Satisfacer los requerimientos de nuestros clientes, basándonos en
                            la filosofía de ofrecerles soluciones integrales de productos y servicios de la más alta
                            calidad.</li>
                        <li><span class="red">*</span> Desarrollar continuamente la competencia de nuestro personal,
                            valorizando y reconociéndolo en las tareas que desempeñan, siendo profesionales al guiarnos
                            bajo una cultura institucional que funge como estándar.</li>
                        <li><span class="red">*</span> Mejorar nuestros procesos internos a fin de prevalecer como
                            diferenciadores en calidad, precio e innovación.</li>
                    </ul>
                </div>
                
                <h4>EQUIPO DE TRABAJO</h4>
                <section>
                    <!-- ítems -->
                    <div class = "contenedor"><a href="https://www.linkedin.com/in/robertinogierotto/"><img  class="imagen" src="/images/equipo/Robert.jpg " <abbr title="Robertino Gierotto"></abbr></a></div>
                    <div class = "contenedor"><a href="https://www.linkedin.com/in/dalilacontigoyeneche/"><img class="imagen" src="/images/equipo/Dali.jpg " <abbr title="Dalila Conti Goyeneche"></abbr></a></div>
                    <div class = "contenedor"><a href="https://www.linkedin.com/in/wilbin-marriaga-pertuz-073a2a21a/"><img class="imagen" src="/images/equipo/Wil.jpg " <abbr title="Wilbin Marriaga Pertuz"></abbr></a></div>
                    <div class = "contenedor"><a href="#"><img class="imagen" src="/images/equipo/Sebast.jpg "<abbr title="Sebastian Jaramillo"></abbr></a></div>
                </section>

            </main>

            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('./partials/footer') %>
    </body>

</html>