<!DOCTYPE html>
<html lang="en">
    <!------------------------------------------ head ---------------------------------------------------->
    <%- include('./partials/head') %>
<body>
    <!------------------------------------------ header -------------------------------------------------->
    <%- include('./partials/header') %>
    <!------------------------------------------ main ---------------------------------------------------->
    
    <main>

        <div class="text">
        <p class="title">TechShop RODAWISE, dedicados a ofrecer productos y servicios que estén a la vanguardia de las últimas tendencias que el mercado demanda. Reunimos nuestros esfuerzos y trabajamos profesionalmente colaborando en un ambiente multidisciplinario, el cual permite un compromiso del personal y las altas gerencias para:
            </p>
            <ul class="list">
                <li>* Asegurar el cumplimiento de requisitos aplicables y normativas que regulan nuestro campo de acción.</li>
                <li>* Satisfacer los requerimientos de nuestros clientes, basándonos en la filosofía de ofrecerles soluciones integrales de productos y servicios de la más alta calidad.</li>
                <li>* Desarrollar continuamente la competencia de nuestro personal, valorizando y reconociéndolo en las tareas que desempeñan, siendo profesionales al guiarnos bajo una cultura institucional que funge como estándar.</li>
                <li>* Mejorar nuestros procesos internos a fin de prevalecer como diferenciadores en calidad, precio e innovación.</li>
            </ul> 
        </div>         
        
    </main>
   
    <!------------------------------------------ footer ---------------------------------------------------->
    <%- include('./partials/footer') %>
</body>
</html>