<footer>
    <p class="footer-text"><i class="fa fa-copyright"></i> 2022 TECHSHOP RODAWISE - Todos los derechos reservados</p>
    <div class="favicon">
        <img src="/images/favicon.jpg" alt="Logo Mini">
    </div>
</footer>