<!-- LOGO - REGISTER/LOGIN - NAV BAR - SEARCH BAR -->
<header>
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/logo.jpg" alt="Logo Rodawise"></a>
        </div>
        <div class="reg-login">
            <ul>
                <li class="register"><a href="/user/register">REGISTER</a></li>
                <li class="login" ><a href="/user/login">LOGIN</a></li>
            </ul>
        </div>
    </div>
    <nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i> </div>
        <ul>
            <li class="home"><a href="/">HOME</a></li>
            <li class="products"><a href="#">PRODUCTOS</a></li>
            <li class="who-we-are"><a href="/whoWeAre">QUIENES SOMOS</a></li>
            <li class="contact"><a href="#">CONTACTO</a></li>
            <a href="/products/productCart"><img src="/images/carrito.png" alt="Carrito" class="product-cart"></a>

        </ul>
    </nav>
    <div class="form" action="#" method="GET">
        <div class="input">Buscar productos, marcas y más</div>
        <div class="submit"><i class="fa fa-search"></i></div>
    </div>
</header>