<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>
<script src="/js/createProductValidation.js"></script>


    <body>
        <!------------------------------------------ header ---------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->
            <main class="">
                <h4 class="tituloProducto">CREAR PRODUCTOS</h4>
                <form class="productForm" action= "/admin" method="POST" enctype="multipart/form-data">
                    
                    <!-----imagen-->
                    <div class="imagenLogo" id="imagePreview">
                        <img src="/images/logo-imagen2.png" alt="" class="image-preview__image"> 
                        <span class="image-preview__default-text"></span></div>
                        <br>
                
                        <label class="custom-file-upload">
                            <input type="file" name="inpFile" id="inpFile">
                            Cargar Imagen
                        </label>
                        <!----------->
                    <br>
                    <div class='formularioProducto'>
                        <ul class="errors"></ul>
                        <input class="infoCategoria short" type="text" name="name" id="name" placeholder="Nombre del Producto" >
                        <!-- <label for="Precio">Precio</label>-->
                        <input class="infoCategoria short" type="number" name="price" id='price' placeholder="Precio"  >
                        <input class="infoCategoria short" type="number" name="discount" id='discount' placeholder="Descuento">

                        <!--  <label for="Categoria">Categoria</label>-->
                        <select  class="infoCategoria short" name="productsCategoryId" id="productsCategoryId" >
                            <option hidden value="" >Seleccione Categoria</option hidden>
                            <option value="3">Celulares</option>
                            <option value="2">Video</option>
                            <option value="1">Gamer</option>
                        </select>
                        <input class="infoCategoria" type="text" name="caract1" id="caract1" placeholder="Caracteristica del producto: Informacion Ej: Modelo: XRS" >
                        <input class="infoCategoria" type="text" name="caract2" id="caract2" placeholder="Caracteristica del producto: Informacion Ej: Modelo: XRS" >
                        <input class="infoCategoria" type="text" name="caract3" id="caract3" placeholder="Caracteristica del producto: Informacion Ej: Modelo: XRS">
                        <input class="infoCategoria" type="text" name="caract4" id="caract4" placeholder="Caracteristica del producto: Informacion Ej: Modelo: XRS">
                        <div class="dailyOnSale">
                            <p>Oferta del día:</p> 
                            <label for="si">Si</label>
                            <input type="radio" id="si" name="dailyOnSale" value=0>
                            <label for="no">No</label>
                            <input type="radio" id="no" name="dailyOnSale" value=1>
                        </div>
                    </div>

                    <div class="descripcionProducto">
                        <textarea  name="description" id="description" cols="20" rows="5"
                            placeholder="Descripcion del Producto"></textarea>
                    </div>
                    

                    <input class="botons" type="submit" value="Crear Producto">
                    <input class="botons" type="reset" value="Limpiar">
                    <a href="/admin"><input class="botons"  value="Volver"></a>

                </form>
            </main>

            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('../partials/footer') %>
    </body>
    <script src="/js/previewImage.js"></script>
</html>