<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>

    <body>
        <!------------------------------------------ header ---------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->
            <main class="">
                <h4 class="tituloProducto">MODIFICAR PRODUCTO</h4>
                <form action= "#" method="POST">
                    <div class="imagenLogo">
                        <img class='imagenLogo1' src="/images/logo-imagen2.png" alt="logo">
                    </div>
                    <label for="files" class="btn">Cargar Imagen</label>
                    <input type="file" id='files' name="avatar" style="display:none">
                    <div class='formularioProducto'>
                        <input class="infoCategoria" type="text" name="nombreProducto" id="nombre" placeholder="Nombre del Producto" required>
                       <!-- <label for="Precio">Precio</label>-->
                        <input class="infoCategoria" type="number" name="Precio" id='Precio' placeholder="Precio" required>

                       <!--  <label for="Categoria">Categoria</label>-->
                        <select  class="infoCategoria" name="categoria" required>
                            <option hidden value="" >Seleccione Categoria</option hidden>
                            <option value="">Celulares</option>
                            <option value="">Video</option>
                            <option value="">Gamer</option>
                        </select>
                    </div>

                    <div class="descripcionProducto">
                        <textarea required name="descripcion" id="" cols="20" rows="5"
                            placeholder="Descripcion del Producto"></textarea>
                    </div>

                    <input class="botons" type="submit" value="Modificar Producto">

                </form>
            </main>

            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('../partials/footer') %>
    </body>

</html>