<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>

    <body>
        <!------------------------------------------ header ---------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->
            <main class="login1">
                <!-- CONTENIDO ESPECIFICO DE LA PAGINA -->
                <h3>LOGIN</h3>
                <form action="/user/login" method="POST" class="marco">
                    <div class="usuario">
                        <label for="usuario">Usuario o correo electronico<span class="red">*</span></label>
                        <div>
                            <input type="email" name="email" required />
                        </div>
                    </div>

                    <div class="contrase単a">
                        <label for="password">Contrase単a<span class="red">*</span></label>
                        <div class="contenedor_ojo">
                            <input type="password" name="password" required />
                                class="fa fa-fw fa-eye password-icon show-password"></span>
                        </div>
                    </div>
                    <div class="recordar">
                        <label><input type="checkbox" name="remember" value="remember" />
                            Recuerdame</label>

                        <input class="entrar" type="submit" value="Ingresar"></input>
                        </div>

                    <div class="olvidaste">
                        <label>多Olvidaste tu contrase単a?</label>
                    </div>
                </form>

            </main>

            <!------------------------------------------ footer ---------------------------------------------------->
            <%- include('../partials/footer') %>
    </body>

</html>