<!DOCTYPE html>
<html lang="en">
<!------------------------------------------ head ---------------------------------------------------->
<%- include('../partials/head') %>

    <body>
        <!------------------------------------------ header -------------------------------------------------->
        <%- include('../partials/header') %>
            <!------------------------------------------ main ---------------------------------------------------->
            <main class="userProfile">
             <section class = "titulo1" >Mi Perfil</section>
             <div class="profilePicture">
                <img src="/images/user/any-1.png" alt="">
                </div>
             <p class="datosUser"> Nombre: Santiago </p>
             <p class="datosUser"> Apellido: Guzman </p>
             <p class="datosUser"> Correo: lacasadepapel@gmail.com</p>
             <p class="datosUser"> Tipo de Usuario: Usuario</p>

             
             <button class="boton" type="submit" name="button">Editar Perfil</button>
          
           




             <!------------------------------------------ footer ---------------------------------------------------->
             <%- include('../partials/footer') %>
            </body>
        
        </html>