.containerProductsClicks {
    display: flex;
    margin: 5px;
    
}
.chart {
    width: 40%;
    margin: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}
.productCards {
    width: 55%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-insideCard {
    width: 100px;
    align-self: center;
}
.linkToDetail {
    position: relative;
    width: 60%;
    align-self: center;
    bottom: 10px;
}
.cardProducts {
    border: 1px solid blue;
}
hr {
    margin: 4rem;
    border: 0;
    border-top: 1.5px solid #3598FE;
}
.containerPageClicks {
    display: flex;
}
.pagesTable {
    width: 55%;
    margin: 10px;
}
.smallCardTitle {
    font-size: 16px;
}
.smallCardsStatics {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.refreshButtons {
    margin: 10px;
    width: 250px;
    top: 42px;
}
.refreshBUsers {
    top: -12px;
    left: 24px;
}
.periodButton {
    margin: 10px;
    width: 400px;
    top: 42px;
}
.specialButt {
    width: 400px;
}
